/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header styles */
header {
    width: 100%;
    background-color: #FFF;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1000;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center; /* Alinear los elementos al centro */
    gap: 20px;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    color: #f4b400;
}

/* Footer styles */
footer {
    width: 100%;
    background-color: #FFF;
    padding: 20px 10px;
    text-align: center;
    position: relative; /* Quitar bottom: 0, porque afecta al layout */
    z-index: 100;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

footer p {
    color: #333;
}

/* Flex settings for body */
body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

main {
    flex-grow: 1; /* Permite que el contenido principal se expanda */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
}

/* Contacto */
.contact-container, .office-info {
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
    text-align: center;
    margin-bottom: 20px;
}

h1, h2 {
    color: #00509C;
    font-size: 34px;
    font-weight: 700;
}

h1 {
    font-size: 49px;
}

.subtitle {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.50);
    font-weight: 500;
}

.input-group label {
    display: block;
    text-align: left;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.50);
    font-weight: 600;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #000;
}

textarea {
    height: 100px;
}

.checkbox input {
    margin-right: 10px;
}

.button {
    background: #19A1C4;
    color: #FFF;
    padding: 19px 80px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    cursor: pointer;
}

.map {
    width: 648px;
    height: 400px;
}

.office-info p {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    margin: 5px 0;
}

@media (max-width: 768px) {
    .map {
        width: 100%;
        height: 200px;
    }
}

/* Reset flexbox settings for header and footer */
header, footer {
    flex-shrink: 0; /* Asegura que no se reduzcan en flexbox */
}
